// 基本
$base__font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, Microsoft JhengHei;
$base__line-height: 1.25;

// 色系
$color__white: #FFFFFF;
$color__black: #000000;
