<div class="site-container">
  <a href="">
    <img src="src/assets/images/logo.svg" class="header__logo" alt="Sky Bandit">
  </a>
  <nav class="header__pc-nav">
    <ul class="header__pc-nav-list">
      <li class="header__pc-nav-item" data-target-section="main">Home</li>
      <li class="header__pc-nav-item" data-target-section="game-play">Game Play</li>
      <li class="header__pc-nav-item" data-target-section="nfts">NFTS</li>
      <li class="header__pc-nav-item" data-target-section="sky-bandit-crystal">Sky Bandit Crystal</li>
      <li class="header__pc-nav-item" data-target-section="team">Team</li>
      <li class="header__pc-nav-item" data-target-section="partners">Partners</li>
    </ul>
  </nav>
  <a href="" class="header__pc-connect-wallet-btn">
    <span>Connect Wallet</span>
  </a>
  <input type="checkbox" id="mobile-menu-active-status" class="header__mobile-menu-active-status">
  <label class="header__mobile-menu-btn" for="mobile-menu-active-status">
    <span class="header__mobile-menu-btn-stuffing"></span>
    <span class="header__mobile-menu-btn-stuffing"></span>
    <span class="header__mobile-menu-btn-stuffing"></span>
    <span class="header__mobile-menu-btn-stuffing"></span>
  </label>
  </label>
  <div class="header__mobile-menu">
    <nav class="header__mobile-nav">
      <ul class="header__mobile-nav-list">
        <li class="header__mobile-nav-item" data-target-section="main">Home</li>
        <li class="header__mobile-nav-item" data-target-section="game-play">Game Play</li>
        <li class="header__mobile-nav-item" data-target-section="nfts">NFTS</li>
        <li class="header__mobile-nav-item" data-target-section="sky-bandit-crystal">Sky Bandit Crystal</li>
        <li class="header__mobile-nav-item" data-target-section="team">Team</li>
        <li class="header__mobile-nav-item" data-target-section="partners">Partners</li>
      </ul>
    </nav>
    <a href="" class="header__mobile-connect-wallet-btn">Connect Wallet</a>
  </div>
</div>
